.shop{
    background: url('../../img/gridactions/background.png');

    &__subtitle{
        font-size: 48px;
        font-weight: 500;
    }

    &__title{
        font-size: 16px;
        font-weight: 500;
    }

    &__suptitle{
        font-size: 16px;
        font-weight: 300;
    }

}