section.breadcrumbs
    .container
        img.breadcrumbs__logo(src='../img/meubellogo.svg' alt='logo')
        h1.breadcrumbs__subtitle Shop
        .breadcrumbs__row
          h4.breadcrumbs__title Home
          img.breadcrumbs__img(src='../img/shop_arrow.svg' alt='arrow')
          p.breadcrumbs__suptitle Shop
