section.cart 
    .container
        .cart__row
          .cart__column
            .cart__info
               ul.cart__tab
                i.cart__title Image
                li.cart__name Product
                li.cart__price Price
                li.cart__quantity Quantity
                li.cart__subtotle Subtotal
            .cart__item--description
              img.cart__img(src='./img/sofa_item.png' alt='sofa')
              p.cart__item--name Assaf sofa
              p.cart__item--price Rs. 250,000.00
              p.cart__item--quantity 1
              p.cart__item--subtotal Rs. 250,000.00
              img.cart__delete(src='./img/delete.svg' alt='delete cart')
          .cart__totals--column
              h1.cart__totals--title Cart Totals
              .cart__subtotal--info
                 p.cart__totals--subtotal Subtotal
                 p.cart__totals--price Rs. 250,000.00
              .cart__total--info
                 p.cart__totals Total
                 p.cart__total--totalprice Rs. 250,000.00
              button.cart__checkout Check Out 