section.shop
    .container
        img.shop__logo(src='../img/meubellogo.svg' alt='logo')
        h1.shop__subtitle Shop
        .shop__row
          h4.shop__title Home
          img.shop__img(src='../img/shop_arrow.svg' alt='arrow')
          p.shop__suptitle Shop
