section.shop
    .container
        h1.shop__title Shop
        .shop__row
          h4.shop__subtitle Home
          img.shop__img(src='../img/gridactions/shop__arrow.svg')
          p.shop__page-name Shop
