section.shop
    .container
        h1.shop__subtitle Shop
        .shop__row
          h4.shop__title Home
          img.shop__img(src='../img/gridactions/shop__arrow.svg')
          p.shop__suptitle Shop
