section.hero
    .container 
        .hero__arriwal 
            span.hero__span New Arrival
            h1.hero__h1title Discover Our New Collection
            p.hero__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
            button.hero__btn BUY NOW