section.inspirations
    .container 
        //- .masonry-grid(data-masonry='{ "itemSelector": ".masonry-grid-item"}')
            .masonry-grid-item.grid-sizer
                img(src="./img/inspirations-1.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-2.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-3.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-4.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-5.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-6.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-7.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-8.png" alt="")
            .masonry-grid-item
                img(src="./img/inspirations-9.png" alt="")

        .grid
            .grid-sizer
            .grid-item
            .grid-item.grid-item--width2.grid-item--height2
            .grid-item.grid-item--height3
            .grid-item.grid-item--height2
            .grid-item.grid-item--width3
            .grid-item
            .grid-item
            .grid-item.grid-item--height2
            .grid-item.grid-item--width2.grid-item--height3
            .grid-item
            .grid-item.grid-item--height2
            .grid-item
            .grid-item.grid-item--width2.grid-item--height2
            .grid-item.grid-item--width2
            .grid-item
            .grid-item.grid-item--height2
            .grid-item
            .grid-item
            .grid-item.grid-item--height3
            .grid-item.grid-item--height2
            .grid-item
            .grid-item
            .grid-item.grid-item--height2
