section.our-products
  .container
    h4.our-products__title  Our Products

    .our-products__row
      include ../components/product.pug
      include ../components/product.pug
      include ../components/product.pug
      include ../components/product.pug

    .our-products__row
      include ../components/product.pug
      include ../components/product.pug
      include ../components/product.pug
      include ../components/product.pug