section.browse-range 
    .container
      h4.range__title  Browse The Range
      p.range__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
      .range__row
         .range__column-img
            img.range__img(src='../img/range-1.png')
            p.range__img-subtitle Dining
         .range__column-img
            img.range__img(src='../img/range-2.png')
            p.range__img-subtitle Living
         .range__column-img
            img.range__img(src='../img/range-3.png')
            p.range__img-subtitle Bedroom
            