aside.categories
    .container 
        .categories__column 
            .categories__write-inside
                input.categories__search
                img.categories__magnifying-glass(src='../img/magnifying-glass.svg' alt='search by magnifying glass ')
        h4.categories__title Categories
        ul.categories__list 
            li.categories__item Crafts
                span.categories__quantity 2
            li.categories__item Design
                span.categories__quantity 8
            li.categories__item Handmade
                span.categories__quantity 7
            li.categories__item Interior
                span.categories__quantity 1
            li.categories__item Wood
                span.categories__quantity 6