.cart-modal
    .cart-modal__overlay
    .cart-modal__content
        .cart-modal__top 
            h3.cart-modal__title Shopping Cart
            img.cart-modal__clear#cart-modal__clear(src="./img/cart-clear.svg" alt="")  
        .cart-modal__items 
            .cart-modal__item
                img(src="./img/cart-modal-1.png" alt="Asgaard sofa").cart-modal__image
                .cart-modal__info 
                    h4.cart-modal__subtitle Asgaard sofa
                    .cart-modal__details 
                        span.cart-modal__count 1
                        span.cart-modal__multiply X
                        span.cart-modal__price Rs. 250,000.00
                img.cart-modal__close(src="./img/close.svg" alt="")
            .cart-modal__item
                img(src="./img/cart-modal-1.png" alt="Asgaard sofa").cart-modal__image
                .cart-modal__info 
                    h4.cart-modal__subtitle Asgaard sofa
                    .cart-modal__details 
                        span.cart-modal__count 1
                        span.cart-modal__multiply X
                        span.cart-modal__price Rs. 250,000.00
                img.cart-modal__close(src="./img/close.svg" alt="")
            .cart-modal__item
                img(src="./img/cart-modal-1.png" alt="Asgaard sofa").cart-modal__image
                .cart-modal__info 
                    h4.cart-modal__subtitle Asgaard sofa
                    .cart-modal__details 
                        span.cart-modal__count 1
                        span.cart-modal__multiply X
                        span.cart-modal__price Rs. 250,000.00
                img.cart-modal__close(src="./img/close.svg" alt="")
            .cart-modal__item
                img(src="./img/cart-modal-1.png" alt="Asgaard sofa").cart-modal__image
                .cart-modal__info 
                    h4.cart-modal__subtitle Asgaard sofa
                    .cart-modal__details 
                        span.cart-modal__count 1
                        span.cart-modal__multiply X
                        span.cart-modal__price Rs. 250,000.00
                img.cart-modal__close(src="./img/close.svg" alt="")
            .cart-modal__item
                img(src="./img/cart-modal-1.png" alt="Asgaard sofa").cart-modal__image
                .cart-modal__info 
                    h4.cart-modal__subtitle Asgaard sofa
                    .cart-modal__details 
                        span.cart-modal__count 1
                        span.cart-modal__multiply X
                        span.cart-modal__price Rs. 250,000.00
                img.cart-modal__close(src="./img/close.svg" alt="")
            .cart-modal__item
                img(src="./img/cart-modal-1.png" alt="Asgaard sofa").cart-modal__image
                .cart-modal__info 
                    h4.cart-modal__subtitle Asgaard sofa
                    .cart-modal__details 
                        span.cart-modal__count 1
                        span.cart-modal__multiply X
                        span.cart-modal__price Rs. 250,000.00
                img.cart-modal__close(src="./img/close.svg" alt="")
        .cart-modal__bottom
            h4.cart-modal__total Subtotal
            span.cart-modal__sum Rs. 520,000.00
        .cart-modal__actions
            a.cart-modal__link.button-outlined(href="./cart.html") Cart
            a.cart-modal__link.button-outlined(href="./checkout.html") Checkout