aside.resent-posts
    .container
        .resent-posts__row 
            .resent-posts__column 
                img.resent-posts__img(src="../../img/blocknot.png")
                .resent-posts__content
                    h3.resent-posts__title Going all-in with millennial design
                    span.resent-posts__subtitle 03 Aug 2022
            .resent-posts__column 
                img.resent-posts__img(src="../../img/read-more.png")
                .resent-posts__content
                    h3.resent-posts__title Exploring new ways of decorating
                    span.resent-posts__subtitle 03 Aug 2022
            .resent-posts__column 
                img.resent-posts__img(src="../../img/heandmade.png")
                .resent-posts__content
                    h3.resent-posts__title Handmade pieces that took time to make
                    span.resent-posts__subtitle 03 Aug 2022
            .resent-posts__column 
                img.resent-posts__img(src="../../img/modern.png")
                .resent-posts__content
                    h3.resent-posts__title Modern home in Milan
                    span.resent-posts__subtitle 03 Aug 2022
            .resent-posts__column 
                img.resent-posts__img(src="../../img/colorful.png")
                .resent-posts__content
                    h3.resent-posts__title Colorful office redesign
                    span.resent-posts__subtitle 03 Aug 2022
                    