aside.resent-posts
    .container
        .resent-posts__row 
            .resent-posts__column 
                img.resent-posts__img(src="../../img/blocknot.png")
                .resent-posts__content
                    h3.resent-posts__title Going all-in with millennial design
                    span.resent-posts__subtitle 03 Aug 2022