.definition-lists {
    height: 60px;
    top: 3066px;
    left: 381px;

    &__buttons {
        display: flex;
        cursor: pointer;  
        gap: 38px;
    }

    &__button-prev-text,
    &__button-text,
    &__button-next-text {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: black;
        background-color: #F9F1E7;
        border-radius: 10px 0px 0px 0px;
        opacity: 0px;
    }

    &__button-prev-text,
    &__button-next-text {
        width: 98px;
    }

    &__button-text {
        width: 60px;
    }
}