.definition-lists {
    width: 535px;
    height: 60px;
    top: 3066px;
    left: 381px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;


    &__buttons {
        display: flex;
        cursor: pointer;
        width: 98px;
        color:#F9F1E7;
    }

    &__button-prev-text,
    &__button-text,
    &__button-next-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }

    &__button-prev-text,
    &__button-next-text {
        width: 98px;
    }

    &__button-text {
        width: 60px;
    }
}