.definition-lists {
    width: 535px;
    height: 60px;
    top: 3066px;
    left: 381px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;


    &__buttons {
        display: flex;
        cursor: pointer;
        width: 98px;
        color:#F9F1E7;
    }
}