extends ../layouts/layout.pug

block content
    .container.blog-container
        section.posts
            include ../components/post.pug
            include ../components/post.pug
            include ../components/post.pug
        aside