extends ../layouts/layout.pug

block content
    main(data-barba="container" data-barba-namespace="blog")
        .container.blog-container
            section.posts
                include ../components/post.pug
                include ../components/post.pug
                include ../components/post.pug
        include ../components/advantages.pug
        include ../components/recent-posts.pug