extends ../layouts/layout.pug

block content
    main
        include ../mixins/breadcrumbs.pug
        +breadcrumbs('Cart', 'Cart')
        include ../sections/cart.pug
        include ../components/advantages.pug