extends ../layouts/layout.pug

block content
    main(data-barba="container" data-barba-namespace="shop")
        include ../sections/gridactions.pug
        include ../components/advantages.pug
        